@font-face{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**********************corps***************************************************/
body{
  background:url("images/fond_jaune.png");
  background-attachment: fixed;
}

#blocpage{
  width: 50%;
  margin: auto;
}
/**********************header**************************************************/
header{
  background: url('images/separateur.png') repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

#logozozor{
  display: flex;
  align-items: baseline;
}

#maintitle{
  display: flex;
  flex-direction: column;
}

h1, h2{
  font-weight: normal;
}

header h1{
  font-size: 2.5em;
  font-family: 'BallparkWeiner';
}

h2{
  font-size: 1.1em;
  font-family: 'Dayrom';
  position: absolute;
  top: 7%;
}

/**********************navigation**********************************************/
nav ul{
  list-style-type: none;
  display: flex;
}

nav li{
  margin-right: 15px;
}

nav a{
  font-size: 1.3em;
  color: #181818;
  text-decoration: none;
}

nav a:hover{
  color: #760001;
  border-bottom: 3px solid #760001;
}
/**********************bandeau*************************************************/
#bandeau{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 219px;
  background: url("images/sanfrancisco.jpg");
  box-shadow: 0px 4px 4px black;
  border-radius: 2px;
}

#bandeau_description{
  position: absolute;
  bottom: 0;
  height: 33px;
  width: 99.5%;
  padding-top: 19px;
  padding-left: 5px;
  background-color: rgba(24, 24, 24, 0.8);
  border-radius: 2px;
  color: white;
  font-size: 0.9em;
  font-family: Trebuchet, arial;
}

.bouton_rouge{
  height: 25px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: url('images/fond_degraderouge.png') repeat-x;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 4px 8px 0px 8px;
  color: white;
  text-decoration: none;
}

section{
  display: flex;
}
/******************************************************************************/
aside{
  flex: 1.2;
  position: relative;
  padding: 10px;
  margin-left: 25px;
  margin-top: 12px;
  border-radius: 5px;
  color: white;
  background-color: #706b64;
  box-shadow: 0px 2px 5px #1c1a19;
  height: 55%;
}

aside h1{
  text-align: center;
  font-family: 'Dayrom';
}

#containerlogos{
  display: flex;
  justify-content: space-around;
}

.flechebulle{
  position: absolute;
  top: 35%;
  left: -4%;
}

.zozorclasse{
  left: 20%;
  position: relative;
}
/******************************************************************************/
article{
  flex: 3;
}

article p, aside p{
  text-align: justify;
  font-size: 0.8em;
}

.iconepingle{
  margin-right: 10px;
  position: relative;
  top: 13px;
}
/******************************************************************************/
footer{
  background: url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 100px;
}

footer h1{
  font-size: 1em;
  font-family: 'Dayrom';
}

footer ul{
  padding-left: 25px;
  margin-top: 0;
  padding-right: 25px;
}

footer li:hover{
  text-decoration: underline;
}

footer li{
  margin-bottom: 5px;
}

footer a{
  text-decoration: none;
  color: darkred;
}

.fleche_footer{
  position: absolute;
  left: 50%;
  top: 0;
}

footer p, footer ul{
  font-size: 0.8em;
}

#containerfooter{
  display: flex;
  justify-content: space-between;
}

.item{
  width: 33.3%;
}

.item:nth-child(2){
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.item:nth-child(3) h1{
  margin-left: 10px;
}

#photos{
  display: flex;
  justify-content: space-between;
}

#photos img{
  border: 1px solid #181818;
  margin-right: 2px;
}

#friend{
  display: flex;
  justify-content: space-between;
  list-style-image: url("images/ico_liensexterne.png");
  color : darkred;
}
